.espera{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-decoration: underline;
    text-underline-position: under;
}

@media (max-width: 768px){
    .espera{
        font-size: large;
    }
}

@media (min-height: 1000px) and (max-width: 768px) {
    .espera{
        font-size: xx-large;
    }
}