.btns-inicio{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    button{
        width: 20%;
        margin: 0 1rem;
    }
}

.btn-volver{
    margin: 0 1rem;
}

.agregar{
    margin: 0 auto;
    width: 70%;
}

.btn-agregar-dentro{
    display: flex;
    margin: 0 auto;
    width: 20%;
    justify-content: center;
}

.cambiar{
    width: 80%;
    margin: 0 auto;
}