<div class="fondo-config">

    <div class="ancho">

        <div class="btns-inicio" *ngIf="!crear">
            <button class="azul" (click)="crearSuc()"> Agregar Sucursal </button>
        </div>

        <div *ngIf="crear">
            <button class="azul btn-volver" (click)="goBack()"> Volver </button>
        </div>

        <div class="agregar" *ngIf="crear">

            <div class="agregar-ciudad">

                <label for=""> Ciudad donde esta o estara situada </label>
                <input type="text" [(ngModel)]="tempSucursal.ciudad">

            </div>

            <div class="agregar-encargado">

                <label for=""> Quien es o sera el encargado de esa sucursal </label>
                <select [(ngModel)]="tempSucursal.duenio">
                    <option *ngFor="let u of usuarios" [ngValue]="u.id_usuario">
                        {{u.nombre}}/{{u.apellido}}/{{u.dni}}/{{u.nombre_usuario}}
                    </option>
                </select>

                <label for="" class="agregar-encargado-ej"> (Formato : nombre / apellido / dni / usuario que usa)
                </label>

            </div>

            <button class="azul btn-agregar-dentro" (click)="subirSucursal()"> Agregar </button>

        </div>

        <div class="cambiar">

            <app-table [filas]="sucursales" [columnas]="titulos" (accion)="acciones($event)"></app-table>

        </div>

        <div class="reemplazar naranja" *ngIf="reemplazar">
            <label for="">
                Reemplazar el encargado de la sucursal {{tempSucursal.ciudad}} por :
            </label>

            <label for="">
                (Formato : nombre / apellido / dni / usuario que usa)
            </label>

<div class="custom-select">
    
    <select [(ngModel)]="nuevoDuenio">
        <option class="opt" *ngFor="let u of usuarios" [ngValue]="u">
            {{u.nombre}} / {{u.apellido}} / {{u.dni}} / {{u.nombre_usuario}}
        </option>
    </select>

</div>

            <div class="reemplazar-cont-btns">

                <button class="azul" (click)="goBack()"> Cancelar </button>

                <button class="azul" (click)="subirNuevoDuenio()"> Listo </button>

            </div>

        </div>

    </div>

</div>