.footer {
    height: 6vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    z-index: 2;
}

.ancho {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
}

label {
    font-size: 3vh;
    color: rgb(29, 28, 28);
}

.anio{
    text-align: end;
}

@media (max-width: 768px) {

    .ancho{
        width: 95%;
    }

    label {
        font-size: 1.5vh;
    }
}

@media (min-height: 1000px) and (max-width: 768px) {
    label {
        font-size: 2vh;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .ancho{
        width: 85%;
    }
}