<div class="header">
    <div>
        <label for=""> RDW </label>
    </div>
    <button id="btn_home" (click)="irA('')"> Home </button>
    
    <div>
        <button *ngIf="login.duenio != -1" (click)="irA('Administrar')"> Administrar </button>
        <button *ngIf="login.usuario.id_usuario == -1" (click)="irA('Crear-cambiar-sucursal')"> Sucursales </button>    
    </div>

    <div id="log-in" *ngIf="login.usuario.id_usuario == undefined">
        
        <button id="btn-ingresar" (click)="sacar_Hidden(false)"> INGRESAR </button>

        <div id="ingresar" hidden>
            <app-login (evtIr)="irA($event)" (evtSalir)="sacar_Hidden(true)"></app-login>
        </div>
    </div>

    <div *ngIf="login.usuario.id_usuario != undefined" >
        <button (click)="irA('Peticiones')">
            Peticiones hechas
        </button>

        <button (click)="salir()">
            Log out
        </button>
    </div>

</div>