/*2--header--*/
.header {
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 1;
}

/*4----ancho----*/
.ancho {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
}

.expandir,
.cerrar {
    display: none;
    z-index: 2;
}

.titulo {
    font-size: 3vh;
    color: rgb(29, 28, 28);
}

/*6------botones------*/
.btns {
    display: flex;
    align-items: center;
}

button {
    margin: 0 5px;
    padding: 0.5vh 1.5vw;
    border: none;
    border-radius: 0.5rem;
    font-size: 2vh;
}

/*8--------log in--------*/
#ingresar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    flex-direction: column;
    box-shadow: 0 0 0 99999px rgba(45, 46, 46, 0.233);
    border: 1px solid black;
}

/*8--------log in--------*/

/*8--------cliente--------*/
.cliente {
    display: flex;
    align-items: center;
}

.msj-bienvenida {
    font-size: larger;
}

.mobile {
    display: none;
}

/*8--------cliente--------*/

/*6------botones------*/

/*4----ancho----*/

/*2--header--*/


/* MOBILE */
@media (max-width: 768px) {
    .header {
        height: 7vh;
    }

    .ancho {
        width: 100%;
        margin-top: 1.5vh;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-content: baseline;
    }

    .bx-menu,
    .bx-x {
        font-size: 4vh;
    }

    .titulo {
        font-size: 3vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btns {
        display: grid;
        margin: 0;
        display: none;
    }

    .cliente {
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 0;
        width: 100%;
        font-size: 2.5vh;
        padding: 2vh 0;
    }

    .ancho,
    .btns,
    .cliente {
        gap: 5vh;
    }

    .mobile {
        display: block;
        height: 7vh;
        width: 100%;
        position: fixed;
        top: 0;
        border-bottom: 1px solid black;
        z-index: 2;
    }

    .expandir,
    .cerrar {
        display: block;
        position: fixed;
        top: 1.5%;
        left: 2%;
    }

    .cerrar {
        display: none;
    }

    .msj-bienvenida {
        font-size: 3vh;
    }
}

@media (min-height: 1000px) and (max-width: 768px) {
    .ancho {
        margin-top: 2vh;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .ancho{
        width: 85%;
    }
    
    .titulo {
        font-size: 2.5vh;
    }

    .cliente{
        display: flex;
        justify-content: center;
    }

    button {
        margin: 0 5px;
        padding: 1vh 1.5vw;
        border: none;
        border-radius: 0.5rem;
    }
}