<div class="todo">

    <div class="naranja" id="creacion_U">

        <div class="titulo">
            <label for=""> Creacion de Usuario </label>
        </div>

        <div class="datos">

            <label for=""> Nombre </label>
            <input type="text" [(ngModel)]="temp_usuario.nombre">

            <label for=""> Apellido </label>
            <input type="text" [(ngModel)]="temp_usuario.apellido">

            <label for=""> DNI </label>
            <input type="number" [(ngModel)]="temp_usuario.dni">

            <label for=""> Mail </label>
            <input type="text" [(ngModel)]="temp_usuario.mail">

            <label for=""> Usuario </label>
            <input type="text" [(ngModel)]="temp_usuario.nombre_usuario">

            <label for=""> Contraseña </label>
            <input type="password" [(ngModel)]="temp_usuario.contrasenia">

            <label for=""> Contraseña de nuevo </label>
            <input type="password" [(ngModel)]="contraCopia">

        </div>

        <button class="azul btn-creacion" (click)="chequeoCampos()"> Crear cuenta </button>

    </div>

</div>

<div *ngIf="time != 0" class="loader-box">
    <div class="loader">

    </div>
</div>