.todo{
    height: 90vh;
    width: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#creacion_U {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1vh 1vw;
    width: 100%;
    height: 65%;
    align-items: center;

    label {
        margin: 0.5vh;
    }
}

.titulo{
    font-size: 3vh;
    margin-bottom: 2vh;
}

.datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input{
        margin: 0.5vh 0.5vw;
        height: 2vh;
        width: 70%;
        border: 1px solid black;
    }
    label{
        width: 70%;
        font-size: 2vh;
    }
}

.btn-creacion{
    width: 40%;
    height: 7%;
    margin-top: 1vh;
    border: none;
    border-radius: 5px;
}

.loader-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 9;
    background-color: white;
}

.loader {
    margin: 50vh auto;
    width: 50%;
    height: 12px;
    --c:#000 50%,#0000 0;
    background: 
      linear-gradient(90deg ,var(--c)) 0 0%,
      linear-gradient(-90deg,var(--c)) 0 50%,
      linear-gradient(90deg ,var(--c)) 0 100%;
    background-size: 8px calc(100%/3);
    background-repeat: repeat-x;
    animation: l8 .25s infinite linear;
  }
  @keyframes l8 {
      100% {background-position: -8px 0%,-8px 50%,-8px 100%}
  }