<div class="fondo-config">

    <div class="ancho">

        <div class="inicio" *ngIf="!agregarFlag && !moverAutoFlag && !movesFlag">

            <button class="azul" (click)="agregar()"> Agregar un auto </button>
            <br><br>
            <button class="azul" (click)="moverAutoFlag = true"> Mover auto a otra sucursal </button>
            <br><br>
            <button class="azul" (click)="movesFlag = true"> Ver movimiento de mi sucursal </button>

            <br><br>
            <label for="" class="titulo"> Autos en tu Sucursal ({{login.sucursal}}) </label>
            <br><br>
            <label for="" class="texto"> Seleccione un auto para agregar una copia </label>
            <br><br>

            <div class="contenedor-cartas">
                <app-carta [array]="autos_suc | autosReducido" (evtSelec)="tocadoAdentro($event)"></app-carta>
            </div>

        </div>

        <div class="agregar" *ngIf="agregarFlag">

            <button class="volver azul" (click)="limpiar()"> Volver atras </button>

            <button class="ver-agregar azul" (click)="sacar_Hidden(false)" *ngIf="temp_Auto.id_auto == undefined" id="btn-vision">
                Ver autos que ya estan en otras sucursales
            </button>

            <div class="info-agregar">

                <div class="datos">

                    <label for=""> Nombre </label>
                    <input id="admin-nombre" type="text" [(ngModel)]="temp_Auto.nombre" [readOnly]="true">

                    <label for=""> Marca </label>
                    <input type="text" id="admin-marca" [(ngModel)]="temp_Auto.marca" [readOnly]="true">

                    <label for=""> Costo </label>
                    <input type="number" [(ngModel)]="temp_Auto.costo">

                    <button class="azul" (click)="subir()"> Subir imagen </button>
                    <!-- <label for=""> (No mayor a 360px de altura)</label> -->

                </div>

                <div>
                    <input type="file" #fileUpload id="fileUpload" enctype="multipart/form-data" name="fileUpload"
                        multiple="multiple" accept="image/*" style="display:none;" />
                </div>

                <div class="contenedor-imagen" *ngIf="mostrarImagen">
                    <label for=""> Imagen seleccionada </label>
                    <img class="imagen" src='data:image/png;base64, {{muestraImagen}}' alt="fallo">
                </div>

            </div>

            <button class="crear azul" (click)="crearTipoAuto()"> {{mensaje}} </button>

        </div>

        <div class="mover" *ngIf="moverAutoFlag">

            <button class="azul" (click)="limpiar()"> Volver atras </button>
            <br><br>

            <div class="contenedor-cartas-mover">
                <app-carta [array]="autos_suc | resetAutos" (evtSelec)="seleccionadoMover($event)"></app-carta>
            </div>

            <div class="ciudad-mover">
                <div style="display: flex; flex-direction: column;">
                
                    <label for=""> Sucursal donde se va a mover </label>

                    <select [(ngModel)]="temp_Suc">
                        <option [ngValue]="{id_sucursal : -1}"> Borrar </option>
                        <option *ngFor="let op of ciudades" [ngValue]="op">
                            {{op.ciudad}}
                        </option>
                    </select>

                </div>

                <button class="azul" (click)="modificarAutoSuc()"> Mover vehiculo </button>
            </div>

        </div>

        <div #vision id="vision-autos" hidden>
            <button class="azul" (click)="sacar_Hidden(true)"> X </button>
            <app-carta [array]="autosGlobal" (evtSelec)="tocadoAfuera($event)"></app-carta>
        </div>

        <div class="movimiento-autos" *ngIf="movesFlag">

            <button class="azul volver-tabla" (click)="limpiar()"> Volver atras </button>

            <div class="contenedor-tabla">
                <app-table [filas]="movimientos" [columnas]="titulos" (accion)="infoAuto($event)"></app-table>
            </div>

            <div class="cuerpo" *ngIf="expandirFlag">
                <div class="info-auto">

                    <div class="info-auto-blanco"></div>
                    <app-carta [array]="[temp_Auto_Suc]"></app-carta>
                    
                </div>
            </div>

        </div>
    </div>

</div>