.inicio{
    width: 90%;
    margin: 0 auto;
}

#vision-autos{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 3px solid #FFD300;
    z-index: 9;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 0 99999px rgba(45, 46, 46, 0.233);
    border: 1px solid green;
    height: 70vh;
    overflow: scroll;
}