/*-------------------INICIO---------------------*/

/*2 ancho extra--*/
.extra {
    height: 89vh;
}

/*4 busqueda----*/
#busqueda {
    display: flex;
    margin: 1vh auto;
    height: 24.5vh;
    align-items: center;
    justify-content: center;
}

/*6 formulario------*/
.formulario {
    display: flex;
    box-shadow: 5px 5px 10px;
    flex-direction: column;
    border-radius: 0.5rem;
    color: rgb(29, 28, 28);
    font-size: 1.2rem;
}

/*8 campos--------*/
.campos {
    display: flex;
}

/*10 ciudades----------*/
.ciudades {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 2vh;

    select {
        margin: 0.5vh;
        border: none;
        border-radius: 0.4rem;
        padding: 0.3rem;
        width: 10vw;
        font-size: 1.5vh;
        height: 3vh;
    }
}

/*cierra ciudades----------*/

/*10 fechas----------*/
.fechas {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 2vh;
}

/* para el calendario*/
:host ::ng-deep .p-calendar {
    margin: 0.5vh;
    border: none;
    border-radius: 0.4rem;
    height: 3vh;
    width: 10vw;
}

::ng-deep .p-datepicker td span {
    width: 3vw;
    height: 5vh;
}

/*cierra fechas----------*/

/*cierra campos--------*/

.btn-buscar {
    /* UP LEFT DOWN RIGHT*/
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.4rem;
    height: 3vh;
    border-radius: 0.5rem;
    border: none;
    font-size: 2vh;
}

/*cierra formulario------*/

/*cierra busqueda----*/

/*4 ejemplos----*/
.ejemplos {
    display: flex;
    overflow: auto;
    height: 54vh;
}

.cuadrado {
    align-content: center;
    height: 100%;
    margin: 0 auto;

    label{
        font-size: 2vh;
    }
}

/*cierra ejemplos----*/

/*4 ver-todos----*/
.contenedor-btn-ver-todos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-ver-todos {
    margin: 0.5rem auto;
    width: 40%;
    font-size: 2.5vh;
    border-radius: 0.5rem;
    border: none;
    padding: 1vh 1vw;
}

/*cierra ver-todos----*/

/*------------------DISPONIBLES------------------*/

/*2 ancho-shadow--*/
.ancho-shadow {
    box-shadow: 23px 0px 0px 0px rgba(119, 119, 119, 0.1), -23px 0px 0px 0px rgba(119, 119, 119, 0.1);
    background-color: rgba(255, 255, 255, 0.795);
}

/*4 listas----*/
.listas {
    padding: 1vh 0;
    padding-bottom: 4vh;
    margin-left: 1vw;
    margin-right: 1vw;
    min-height: 89vh;
    overflow: auto;

    .contenedor{
        label{
            font-size: 2vh;
        }
    }
}

.btn-volver {
    margin: 0.5rem auto;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem 1rem;
}

/*6 lista-disponibles------*/

.lista-autos-disponibles-arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.listas-match {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    font-size: 3vh;
}

/*8 btns-marca--------*/
.btns-marca {
    width: 50%;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    padding: 1rem;
    background-color: #d1cece;
    border-radius: 3px;
    gap: 0.5vw;
}

.btn-marca {
    font-size: large;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem 1rem;
    min-width: 5vw;
}

/*cierra btns-marca--------*/

/*cierra lista-disponibles------*/

/*cierra listas----*/

.lista-nop {
    display: flex;
    margin-top: 5rem;
    font-size: 3vh;
    justify-content: center;
}

/*cierra ancho-shadow--*/


/* MOBILE */
@media (max-width: 768px) {

    /*-----------INICIO-----------*/
    .extra {
        margin-top: 9vh;
        height: 83vh;
    }

    .formulario {
        font-size: 2vh;
        padding: 1vh 5vw;
    }

    .campos {
        flex-direction: column;
    }

    .ciudades,
    .fechas {
        margin: 1vh;
    }

    .ciudades {
        select {
            width: 38vw;
            font-size: 1.7vh;
            height: 3.5vh;
        }
    }

    :host ::ng-deep .p-calendar {
        width: 38vw;
        height: 3.5vh;
    }

    ::ng-deep .p-datepicker td span {
        width: 10vw;
        font-size: 2vh;
    }

    .btn-buscar {
        width: 50%;
    }

    .ejemplos {
        margin-top: 8vh;
        height: 40vh;

        .mobile-no {
            display: none;
        }
    }

    .cuadrado {
        align-content: center;
        height: 100%;
        margin: 0 auto;

        .contenedor{
            grid-template-columns: 100%;
        }

        .imagen {
            height: 90%;
        }

        label {
            font-size: 2vh;
        }
    }

    .btn-ver-todos {
        margin-top: 1.5vh;
        margin-bottom: 0.5vh;
        width: 100%;
        font-size: 2vh;
        padding: 1vh 0.2vw;
    }

    /*------------------DISPONIBLES------------------*/

    .ancho-shadow {
        padding-top: 1vh;
        width: 95%;
    }

    .listas {
        padding: 1vh 0;
        height: 40vh;
        overflow: auto;

        .contenedor{
            grid-template-columns: 100%;
        }
        .carta {
            .imagen {
                height: 90%;
            }

            label {
                font-size: 2vh;
            }
        }
    }

    .btn-volver {
        font-size: 2vh;
        padding: 1vh 1vw;
    }

    .lista-autos-disponibles-arriba {
        margin-bottom: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .btns-marca {
        width: 100%;
        padding: 1vh 0;
        gap: 2vw;
    }

    .btn-marca {
        font-size: 2vh;
        padding: 1vh 1vw;
        min-width: 20vw;
        margin-bottom: 1vh;
    }

    @media (min-height: 1000px){
        .ejemplos {
            .mobile-no {
                display: block;
            }
        }
    }

}

/* PC */
@media (min-width: 769px) and (max-width: 1400px) {
    .extra {
        height: 87vh;
    }

    #busqueda {
        margin-top: 5vh;
    }

    .formulario {
        height: 25vh;
        max-width: 50vw;
        justify-content: center;
    }

    .ciudades {
        select {
            height: 3.5vh;
            width: 15vw;
        }
    }

    :host ::ng-deep .p-calendar {
        width: 15vw;
        height: 3.5vh;
    }

    ::ng-deep .p-datepicker td span {
        width: 7vw;
        height: 5vh;
    }

    .ejemplos {
        height: 50vh;
    }

    .cuadrado {

        .imagen {
            height: 90%;
        }

        label {
            font-size: 2vh;
        }
    }

    .btn-ver-todos {
        width: 60%;
    }

    /*------------------DISPONIBLES------------------*/

    .ancho-shadow {
        width: 85%;
    }

    .listas {
        padding-top: 3vh;
        height: 50vh;
        .carta {
            .imagen {
                height: 20vh;
            }
        }
    }

    .lista-autos-disponibles-arriba {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1vh;
    }

    .btns-marca {
        width: 90%;
        padding: 1vh 1vw;
        margin-bottom: 1vh;
    }

    .btn-marca {
        padding: 1vh 0.5vw;
        min-width: 15vw;
    }

    @media(max-width: 1114px){
        .ciudades {
            select {
                width: 20vw;
            }
        }
    
        .ejemplos{
            .contenedor{
                width: 50vh;
                grid-template-columns: 100%;
            }
            .carta {
                width: 100%;
                .imagen{
                    img{
                        width: 80%;
                    }
                }
            }
        }

        .listas{
            .contenedor{
                grid-template-columns: 100%;
            }
            .carta {
                width: 100%;
                .imagen{
                    img{
                        width: 80%;
                    }
                }
            }
        }

        :host ::ng-deep .p-calendar {
            width: 20vw;
        }
    }

}