/*2 muestra--*/

.muestra{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.678);
    align-items: center;

    label{
        margin: 0.2rem;
        font-size: larger;
    }
}

.img{
    width: 100%;
    margin: 0.5rem;
}

/*4 separados----*/

.separados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
}

/*cierra separados----*/

.btn-si{
    width: 15%;
    margin-top: 2vh;
    padding: 2px;
    font-size: larger;
    border: none;
    border-radius: 5px;
}

/*4 recibo----*/

.recibo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px double black;
    z-index: 9;
    padding: 10px;
    box-shadow: 0 0 0 99999px rgba(45, 46, 46, 0.233);
    display: flex;
    flex-direction: column;
}

.ticket{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    color: white;
    font-size: larger;
}

/*6 dentro-recibo------*/

.dentro-recibo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    label{
        padding: 3px;
    }
}

/*8 codigo--------*/
.codigo{
    margin-top: 1vh;
    padding: 3px;
    border-top: 3px dotted black;
    font-style: italic;
    font-size: larger;
    text-align: center;
}

/*cierra codigo--------*/

/*8 btns-dentro--------*/
.btns-dentro-recibo{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.btn-listo{
    font-size: large;
    border: none;
    border-radius: 5px;
    padding: 3px;
    width: 40%;
}

/*cierra btns-dentro--------*/

/*cierra dentro-recibo------*/

/*cierra recibo----*/

/*cierra muestra--*/

@media (max-width: 768px){
    .muestra{
        align-items: center;
    
        label{
            margin: 0.2vh;
            font-size: medium;
        }
    }

    .btn-si{
        width: 50%;
    }

    .recibo{
        width: 80%;
    }
}

@media (min-height: 730px){
    .muestra{
        label{
            margin: 0.5vh;
        }
    }
}