<div class="muestra">
    <app-carta [array]="auto_selec"></app-carta>

    <label for="">
        Ciudad de retiro : {{buscarSucursal(temp_peticion.sucursal_retiro)}}
    </label>

    <label for="">
        Ciudad de devolucion : {{buscarSucursal(temp_peticion.sucursal_devolucion)}}
    </label>

    <label for="">
        Formato : Año-Mes-dia
    </label>

    <label for="">
        Fecha de retiro : {{temp_peticion.fecha_retiro}}
    </label>

    <label for="">
        Fecha de devolucion : {{temp_peticion.fecha_devolucion}}
    </label>

    <label for=""> Los datos estan bien? </label>
    <button class="btn-si" (click)="subirPeticion()"> Si </button>

    <div class="recibo" *ngIf="recibo">

        <div class="dentro-recibo">
            <label for="">
                Ciudad de retiro : {{buscarSucursal(temp_peticion.sucursal_retiro)}}
            </label>

            <label for="">
                Ciudad de devolucion : {{buscarSucursal(temp_peticion.sucursal_devolucion)}}
            </label>

            <label for="">
                Formato : Año-Mes-dia
            </label>

            <label for="">
                Fecha de retiro : {{temp_peticion.fecha_retiro}}
            </label>

            <label for="">
                Fecha de devolucion : {{temp_peticion.fecha_devolucion}}
            </label>

            <label for="">
                Precio : {{temp_peticion.precio}}
            </label>

            <label for="">
                (Lo va a necesitar para retirar el vehiculo)
                <br>
                Codigo de retiro : {{temp_peticion.codigo_retiro}}
            </label>

            <div class="btns-dentro-recibo">
                <button (click)="irA('')"> Listo </button>
            </div>
        </div>

    </div>
</div>