<div class="contenedor">

    <div class="carta" *ngFor="let elem of array.slice(0,cantidad), let i = index" (click)="seleccionado(elem)">

        <div class="imagen">
            <img src='data:image/png;base64, {{elem.imagen}}' alt="{{i}}">
        </div>
        

        <label for="" *ngIf="elem.cantidad == undefined && elem.id_auto_sucursal != undefined">
            ID : {{elem.id_auto_sucursal}}
        </label>
    
        <label for=""> Nombre : {{elem.nombre}} </label>

        <label for=""> Marca : {{elem.marca}} </label>
        
        <label for=""> Costo por dia : {{elem.costo}} </label>

        <div *ngIf="elem.cantidad > 0">
            <label for=""> Cantidad en tu sucursal : {{elem.cantidad}} </label>
        </div>

</div>

</div>