th {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    background-color: #38e040;
    text-align: center;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-size: 2vh;
}

td {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    width: 10%;
    height: 8vh;
    font-size: 2vh;

    button {
        background-color: #386FE0;
        color: white;
        font-size: 2vh;
        padding: 1vh 1vw;
        border-radius: 3px;
        border: none;
        cursor: pointer;
    }
}

.bx {
    font-size: xx-large;
    padding: 0.2rem;
    background-color: #386FE0;
    color: white;
    margin: 0 2px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

p-table {
    .p-component {
        .p-paginator {
            margin-top: 2vh;

            button {
                font-size: larger;
            }

            .p-paginator-icon {
                width: 4vw;
                height: 4vh;
                color: blue;
            }
        }
    }
}

@media (max-width: 999px) {
    th {
        min-width: 30vw;
    }

    th,
    td {
        padding: 1vh 0;
    }

    .bx{
        font-size: 3.5vh;
        padding: 1vh 1vw;
    }

    p-table {
        .p-component {
            .p-paginator {
                margin: 0;
                button {
                    font-size: 2vh;
                    padding: 1vh 1vw;
                }
            }
        }
    }
}

@media (min-width: 999px) and (max-width: 1400px){
    th{
        min-width: 15vw;
    }
}